
/*Music player*/

audio {
    max-width:200px;
    max-height:200px;


}
#audio-div {
    width:20%;
    display: flex;
    justify-content: right;
    position: absolute;
    top:1px;
    right: 0;

}
button {
    border: none;
    outline: none;
    padding: 0;
    margin:0;
    background: rgba(83, 156, 171, 0.17);
    cursor: pointer;
}
button img::selection {
    filter: brightness(80%);
    background: white;
    transform: scale(1.1);
 }

hr {
    color:#b7b0b0;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    font-size: 4rem;

}

.display-none {
    display: none;
    transform: scale(0);
    transition: 700ms ease-in;
    border-radius: 50%;
}
